<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=  , initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div style="margin-top: 150px" class="container">
      <h4>Todo List</h4>
      <hr />
      <form action="addTodo" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Todo Başlığı</label>
          <input
            type="text"
            name="title"
            id="formGroupExampleInput"
            class="form-control"
            placeholder="Todo Başlığı"
          />
        </div>
        <button type="submit" class="btn btn-primary">Todo Ekle</button>
      </form>
      <hr />

      {% if todos %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Todo Başlık</th>
            <th scope="col">Todo Durum</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
          <tr>
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.completed}}</td>
            <td>
              <a href="/update/{{todo.id}}" class="btn btn-danger">Güncelle</a>
            </td>
            <td>
              <a href="/delete/{{todo.id}}" class="btn btn-danger">Sil</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger">Herhangi bir todonuz bulunmuyor.</div>
      {% endif %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
